.profil-main .download-bloc {
    width: 170px;
    height: 370px;
    border-radius: 70px;
    gap: 30px;
    @media (min-width: $phoneScreenSize) {
        width: 300px;
        height: 460px;
    }
    & .qrcode-download {
        width: 200px;
        height: 200px;
        padding: 10px;
        border-radius: 20px;
        background-color: $colour-two;
        @media (min-width: $phoneScreenSize) {
            border-radius: 40px;
            width: 250px;
            height: 250px;
            padding: 15px;
        }
    }
    & a {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: $phoneFontSizeTxt;
        color: $colour-four;
        transition: .2s;
        @media (min-width: $phoneScreenSize) {
            font-size: $desktopFontSizeTxt;
            gap: 10px;
        }
        & p {
            font-family: $policeLink;
        }
    }
    & a:hover {
        scale: 1.2;
        color: $colour-two;
        text-decoration: underline;
        transition: .2s;
    }
}